body{
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    
    
}
.botonX{
    /* padding: 10px; */
    font-size: 30px;
    background: transparent;
    border-radius: 30px;
    align-content: center;
    color: white;
    border: #10839C border-style color;
    font-family: 'Indie Flower', cursive;
}
#conteiner{
    margin: 10%;
}
.caja{
  background:blue;
  width: 50px;
  height: 50px;
  margin:10px;
  padding:10px;
  color: white;
  font-size:40x;
  text-align:center;
  
}
#caja1{
    width: 200px;
    height: 200px;
  
}
div{
    float: left;
}
#caja6{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background:#0E0E9F;
    color: white;
}
.caja-clear{
  clear: left;

}
h1{
    font-family: 'Baloo Bhaijaan', cursive;
    color: white;
    font-size: 50px;
}